# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dumps
*.dot
*.png

# Logs
*.html
*_log.txt
*.log

# Function graphs
*.gpi
*.png


exp_tree_normal.tex
questions.txt
TODO.txt
exp_tree1.txt
exp_tree_new_forms.txt